.darkmode {
	--background: #090a0a;
	--bg-light: #171819;
	--primary: #2662f0;
	--logo: #9ea7ac;
	--inactive: #636d73;
	--avatar: #cccccc;
	--emergency: #414d55;
	--emergency-text: #fff;
	--hover-phone: #fff;
	--error-color: #f05568;
	--warning: #f1d399;
	--chart-fill: #29e7cd;
	--border-schedule: #25292d;

	--emergency-appointment: #44010a;
	--emergency-border: #ed0423;
	--examination-appointment: #09312d;
	--examination-border: #34d1bf;
	--consultation-appointment: #002540;
	--consultation-border: #0496ff;

	--routine-appointment: #12126f;
	--routine-border: #6665dd;
	--sick-appointment: #3a1b00;
	--sick-border: #f17105;
	--strip: #414d55;
	--patient-item: #131414;
}
