.darkmode {
	--background: #090a0a;
	--bg-light: #171819;
	--primary: #2662f0;
	--logo: #9ea7ac;
	--inactive: #636d73;
	--avatar: #cccccc;
	--emergency: #414d55;
	--emergency-text: #fff;
	--hover-phone: #fff;
	--error-color: #f05568;
	--warning: #f1d399;
	--chart-fill: #29e7cd;
}
