.lightmode {
	--background: #f0f5f8;
	--bg-light: #ffffff;
	--primary: #2662f0;
	--logo: #9ea7ac;
	--inactive: #636d73;
	--avatar: #cccccc;
	--emergency: #414d55;
	--emergency-text: #414d55;
	--hover-phone: #636d73;
	--error-color: #f05568;
	--warning: #f1d399;
	--chart-fill: #ffffff;
}
