.lightmode {
	--background: #f0f5f8;
	--bg-light: #ffffff;
	--primary: #2662f0;
	--logo: #9ea7ac;
	--inactive: #636d73;
	--avatar: #cccccc;
	--emergency: #414d55;
	--emergency-text: #414d55;
	--hover-phone: #636d73;
	--error-color: #f05568;
	--warning: #f1d399;
	--chart-fill: #ffffff;
	--border-schedule: #a2c0d4;

	--emergency-appointment: #fff3f5;
	--emergency-border: #ed0423;
	--examination-appointment: #e6fffc;
	--examination-border: #34d1bf;
	--consultation-appointment: #f0f9ff;
	--consultation-border: #0496ff;

	--routine-appointment: #f6f6ff;
	--routine-border: #6665dd;
	--sick-appointment: #fff5ec;
	--sick-border: #f17105;
	--strip: #dce2e8;
}
